<div class="container-fluid main">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="row col-8 col-sm-12 col-lg-4 infobox p-2">
    <div class="container">
      <h2>Shorten your URL</h2>

      <div *ngIf="url != null" id="answer" class="input-group d-flex justify-content-center mb-0">
        <span class="input-group-text" id="basic-addon3">{{backendUrl}}{{url.shortUrl}}</span>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="copyToClipboard()">Copy!</button>
      </div>

      <form [formGroup]="shortenerForm">

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Url for shortening</mat-label>
            <input matInput formControlName="longUrl" placeholder="https://hrva.cc" required>
            <mat-error *ngIf="shortenerForm.get('longUrl')?.errors?.['required']">Enter valid URL</mat-error>
            <mat-icon matSuffix class="{{shortenerForm.get('longUrl')?.invalid ? 'text-danger': 'text-success'}}">
              {{shortenerForm.get('longUrl')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
          </mat-form-field>

          <ng-container *ngIf="authenticated">
            <mat-form-field appearance="outline">
              <mat-label>Short URL</mat-label>
              <input matInput formControlName="shortUrl" placeholder="short">
              <mat-hint>Enter short URL of your choosing</mat-hint>
            </mat-form-field>
          </ng-container>

            <mat-form-field appearance="outline">
              <mat-label>Number of visits:</mat-label>
              <input type="number" matInput formControlName="visitLimit" placeholder="1">
              <mat-hint>Enter visit limit after which short URL becomes invalid</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <input matInput [owlDateTime]="dt1" formControlName="expirationDate" placeholder="Expiration date">
              <owl-date-time #dt1></owl-date-time>
              <button [owlDateTimeTrigger]="dt1" mat-icon-button matSuffix>
                <mat-icon>calendar_today</mat-icon>
              </button>
              <mat-hint>Enter expiration date in format DD.MM.YYYY HH:MM</mat-hint>
            </mat-form-field>
        </div>

        <div class="example-button-row">
          <button type="submit" (click)="submit()" [disabled]="shortenerForm.invalid" class="mt-1 w-100" mat-flat-button color="primary">Cut it!</button>
        </div>
      </form>
    </div>
  </div>
</div>
