<div class="container-fluid main">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="row col-8 col-sm-8 col-lg-4 infobox p-2">
    <div class="container">
      <h2>Reset password</h2>

      <form class="register-form" (submit)="resetPassword()" [formGroup]="resetPasswordForm">

        <mat-form-field appearance="outline" class="w-100" *ngIf="token == null">
          <mat-label>Enter your reset token</mat-label>
          <input matInput formControlName="token" placeholder="gfskjjf-38gneicw-nksoien8-nnuvnio" required>
          <mat-error *ngIf="resetPasswordForm.get('token')?.errors?.['required']">Token is required</mat-error>
          <mat-icon matSuffix class="{{resetPasswordForm.get('token')?.invalid ? 'text-danger': 'text-success'}}">
            {{resetPasswordForm.get('token')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="bobby@example.com" required>
          <mat-error *ngIf="resetPasswordForm.get('email')?.invalid">{{getEmailError()}}</mat-error>
          <mat-icon matSuffix class="{{resetPasswordForm.get('email')?.invalid ? 'text-danger': 'text-success'}}">
            {{resetPasswordForm.get('email')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="********" required>
          <mat-error *ngIf="resetPasswordForm.get('password')?.invalid">{{getPasswordError()}}</mat-error>
          <div matSuffix style="display:flex">

            <button type="button" mat-icon-button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <button disabled mat-icon-button>
              <mat-icon matSuffix class="{{resetPasswordForm.get('password')?.invalid ? 'text-danger': 'text-success'}}">
                {{resetPasswordForm.get('password')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Repeat your password</mat-label>
          <input [type]="hidePasswordRepeat ? 'password' : 'text'" matInput formControlName="password-repeat" placeholder="********" required>
          <mat-error *ngIf="resetPasswordForm.get('password-repeat')?.invalid ||
          resetPasswordForm.get('password-repeat')?.value != resetPasswordForm.get('password')?.value">{{getRepeatPasswordError()}}</mat-error>
          <div matSuffix style="display:flex">
            <button type="button" mat-icon-button (click)="hidePasswordRepeat = !hidePasswordRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <button disabled mat-icon-button>
              <mat-icon matSuffix class="{{resetPasswordForm.get('password-repeat')?.invalid ||
              resetPasswordForm.get('password-repeat')?.value != resetPasswordForm.get('password')?.value ? 'text-danger': 'text-success'}}">
                {{resetPasswordForm.get('password-repeat')?.invalid ||
              resetPasswordForm.get('password-repeat')?.value != resetPasswordForm.get('password')?.value ? 'cancel': 'check_circle'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>

        <button type="submit" class="w-100 mt-2" [disabled]="resetPasswordForm.invalid" mat-flat-button color="primary">Reset password</button>
      </form>
    </div>
  </div>
</div>
