<div class="container-fluid">
  <h2>Where should we send password reset link?</h2>
  <form class="signin-form" (submit)="onSend()" [formGroup]="requestPasswordResetForm">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter your email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="bobby@example.com" required>
      <mat-error *ngIf="requestPasswordResetForm.get('email')?.invalid">{{getEmailError()}}</mat-error>
      <mat-icon matSuffix class="{{requestPasswordResetForm.get('email')?.invalid ? 'text-danger': 'text-success'}}">
        {{requestPasswordResetForm.get('email')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
    </mat-form-field>

    <button type="submit" class="w-100 mt-2" [disabled]="requestPasswordResetForm.invalid" mat-flat-button mat-dialog-close color="primary">Send reset link</button>
  </form>
</div>
