<ng-container *ngIf="!apiKeys; else apiKeysLoaded" class="spinner-border text-dark" role="status">
  <mat-spinner>Loading...</mat-spinner>
</ng-container>
<ng-template #apiKeysLoaded>
  <div>
    <h2>Your API keys</h2>
    <mat-form-field appearance="outline" class="float-end">
      <input (keyup)="applyFilter($any($event).target.value)" matInput placeholder="Search">
    </mat-form-field>
  </div>

  <ng-container class="mat-elevation-z8" *ngIf="apiKeys; else noApiKeys">
    <table mat-table [dataSource]="apiKeysView" matSort  matSortActive="active" matSortDirection="desc" matSortDisableClear class="mat-elevation-z8">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
        <td mat-cell  style="cursor: pointer;" matTooltip="Click to copy" (click)="copyKey(apiKey.key)" *matCellDef="let apiKey">{{apiKey.key}}</td>
      </ng-container>

      <ng-container matColumnDef="apiCallsLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> API calls limit </th>
        <td mat-cell *matCellDef="let apiKey"> {{apiKey.apiCallsLimit}} </td>
      </ng-container>

      <ng-container matColumnDef="apiCallsUsed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> API calls used </th>
        <td mat-cell *matCellDef="let apiKey"> {{apiKey.apiCallsUsed}} </td>
      </ng-container>

      <ng-container matColumnDef="visitLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> API calls limit </th>
        <td mat-cell *matCellDef="let apiKey"> {{apiKey.apiCallsLimit}} </td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let apiKey"> {{apiKey.createDate | date: 'HH:mm:ss d.M.yyyy.'}} </td>
      </ng-container>

      <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration date </th>
        <td mat-cell *matCellDef="let apiKey"> {{apiKey.expirationDate | date: 'd.M.yyyy.'}} </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
        <td mat-cell *matCellDef="let apiKey" >
          <mat-icon color="{{apiKey.active ? 'primary' : 'warn'}}"> {{apiKey.active ? 'check_circle_outline' : 'cancel'}}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > Action </th>
        <td mat-cell *matCellDef="let apiKey">
          <button mat-mini-fab class="me-1" color="primary" [routerLink]="['../api-key/' + apiKey.id]"><mat-icon>info</mat-icon></button>
          <button mat-mini-fab color="warn" matTooltip="Deactivate API key" [disabled]="!apiKey.active" (click)="revoke(apiKey.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </ng-container>
  <ng-template #noApiKeys>
    <h2>You have no active API keys!</h2>
  </ng-template>
</ng-template>
<button type="button" mat-flat-button color="primary" (click)="createApiKey()"
            [disabled]="(apiKeys | getElementsForApiKeyByActive : true).length >= user!.apiKeySlots && user!.apiKeySlots != null">
      Create new API key
</button>
