<h1>Details for API key</h1>
<table class="table table-striped">
  <thead>
  <th scope="col">KEY</th>
  <th scope="col">API CALLS LIMIT</th>
  <th scope="col">API CALLS USED</th>
  <th scope="col">CREATED</th>
  <th scope="col">EXPIRATION DATE</th>
  <th scope="col">ACTION</th>
  </thead>
  <tbody>
  <tr [ngClass]="apiKey.active ? 'table-success': 'table-danger'">
    <td>{{apiKey.key}}</td>
    <td>{{apiKey.apiCallsLimit}}</td>
    <td>{{apiKey.apiCallsUsed}}</td>
    <td>{{apiKey.createDate | date: 'HH:mm:ss d.M.yyyy.'}}</td>
    <td>{{apiKey.expirationDate | date: 'd.M.yyyy.'}}</td>
    <td>
      <button mat-mini-fab *ngIf="apiKey.active" color="warn" matTooltip="Deactivate API key" (click)="openDeactivateApiKeyConfirmation()"><mat-icon>delete</mat-icon></button>
    </td>
  </tr>
  </tbody>
</table>
<ng-container *ngIf="!urls; else urlsLoaded" class="spinner-border text-dark" role="status">
  <mat-spinner>Loading...</mat-spinner>
</ng-container>
<ng-template #urlsLoaded>
  <h1>URLs created with this key</h1>
  <ng-container class="mat-elevation-z8" *ngIf="urls; else noUrls">
    <mat-form-field appearance="outline" class="float-end">
      <input (keyup)="applyFilter($any($event).target.value)" matInput placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="urlsView" matSort  matSortActive="active" matSortDirection="desc" matSortDisableClear class="mat-elevation-z8">

      <ng-container matColumnDef="longUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
        <td mat-cell *matCellDef="let url"> {{url.longUrl}} </td>
      </ng-container>

      <ng-container matColumnDef="shortUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Short URL </th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let url" (click)="copyUrl(url.id)" matTooltip="Click to copy"> {{url.shortUrl}}</td>
      </ng-container>

      <ng-container matColumnDef="visits">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Visits </th>
        <td mat-cell *matCellDef="let url"> {{url.visits}} </td>
      </ng-container>

      <ng-container matColumnDef="visitLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit limit </th>
        <td mat-cell *matCellDef="let url"> {{url.visitLimit}} </td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let url"> {{url.createDate | date: 'HH:mm:ss d.M.yyyy.'}} </td>
      </ng-container>

      <ng-container matColumnDef="lastAccessed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last accessed </th>
        <td mat-cell *matCellDef="let url"> {{url.lastAccessed | date: 'HH:mm:ss d.M.yyyy.'}} </td>
      </ng-container>

      <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration date </th>
        <td mat-cell *matCellDef="let url"> {{url.expirationDate | date: 'd.M.yyyy. HH:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
        <td mat-cell *matCellDef="let url">
          <mat-icon color="{{url.active ? 'primary' : 'warn'}}"> {{url.active ? 'check_circle_outline' : 'cancel'}}</mat-icon>

        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let url">
          <button mat-mini-fab class="me-1" *ngIf="url.active"(click)="editVisitLimit(url)"><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab matTooltip="Deactivate URL" color="warn" *ngIf="url.active" (click)="openDeactivateUrlConfirmation(url.id)"><mat-icon>delete</mat-icon></button>
          <button mat-mini-fab matTooltip="Delete URL permanently" color="warn" *ngIf="!url.active" (click)="openDeleteUrlConfirmation(url.id)"><mat-icon>delete_forever</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </ng-container>
    <ng-template #noUrls>
      <h2>You have no URLs for this key!</h2>
    </ng-template>
  </ng-template>
  <button mat-fab color="primary" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
