<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password reset</title>
    </head>
    <body>
        <h4>Hello <span th:text="${name}"></span>,</h4>
        <p>you requested password change at <span th:text="${request_date}"></span></p>
        <p>You can reset your password by clicking <a th:href="@{${password_reset_link}}">here</a></p>
        <p>If link above doesn't work, please visit <span th:text="${password_reset_link}"></span> your token is <span th:text="${token}"></span></p>
        <p>token will work for <span th:text="${token_expiration}"></span> hours, if you didn't request change please ignore this email!</p>
        <br>
        <p>Best regards,</p>
        <p>Oncut team</p>
    </body>
</html>