<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password reset</title>
    </head>
    <body>
        <h4>Hello <span th:text="${name}"></span>,</h4>
        <p>you requested password change at <span th:text="${request_date}"></span>.<br>
            You can reset your password by clicking <a th:href="@{${full_password_reset_link}}">here</a>.<br>
            If link above doesn't work, please visit <span th:text="${password_reset_link}"></span> your token is <span th:text="${token}"></span><br>
            token will work for <span th:text="${token_expiration}"></span> hours.<br>
            <strong>If you didn't request change please ignore this email!</strong></p>
        <br>
        <p>Best regards,<br>
            Oncut team</p>
    </body>
</html>