<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password reset</title>
    </head>
    <body>
        <h5>Hello <span th:text="${name}"></span>,</h5>
        <p>you requested password change at <span th:text="${request_date}"></span></p>
        <p>You can reset your password by clicking <a th:url="${password_reset_link}">here</a></p>
        <p>If link doesn't work visit <a th:url="${password_reset_link}"> <span th:text="${password_reset_link}"></span> your token is <span th:text="${token}"></span></a></p>
        <p>token will work for <span th:text="${token_expiration}"></span> hours, if you didn't request change please ignore this email!"</p>
        <br>
        <p>Best regards,</p>
        <p>Oncut team</p>
    </body>
</html>