
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Password reset</title>
</head>
<body>
<h4>Hello <span th:text="${name}"/> and welcome to <span th:text="${app_name}"/>!</h4>
<p>you can log in to your account <a th:href="@{${login_page}}">here</a>.<br>
  You got <strong th:text="${number_of_api_keys}"/> max API keys which you can use to communicate with our API,
  you can find API documentation <a th:href="@{${api_documentation}}">here</a>.<br>
  If you need more API key slots, please contact us at <a th:href="'mailto:' + ${contact_email}"
                                                          th:text="${contact_email}"/>
</p>
<br>
<p>Best regards,<br>
  Oncut team
</p>
</body>
</html>