<h2>Change your password</h2>
<ng-container>
  <form class="register-form" (submit)="changePassword()" [formGroup]="passwordChangeForm">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter your old password</mat-label>
      <input [type]="hideOldPassword ? 'password' : 'text'" matInput formControlName="oldPassword" placeholder="********" required>
      <mat-error *ngIf="passwordChangeForm.get('oldPassword')?.errors?.['required']">Old password is required</mat-error>
      <div matSuffix style="display:flex">

        <button type="button" mat-icon-button (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <button disabled mat-icon-button>
          <mat-icon matSuffix class="{{passwordChangeForm.get('newPassword')?.invalid ? 'text-danger': 'text-success'}}">
            {{passwordChangeForm.get('newPassword')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
        </button>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter your new password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="newPassword" placeholder="********" required>
      <mat-error *ngIf="passwordChangeForm.get('newPassword')?.invalid">{{getPasswordError()}}</mat-error>
      <div matSuffix style="display:flex">

        <button type="button" mat-icon-button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <button disabled mat-icon-button>
          <mat-icon matSuffix class="{{passwordChangeForm.get('newPassword')?.invalid ? 'text-danger': 'text-success'}}">
            {{passwordChangeForm.get('newPassword')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
        </button>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Repeat your new password</mat-label>
      <input [type]="hidePasswordRepeat ? 'password' : 'text'" matInput formControlName="password-repeat" placeholder="********" required>
      <mat-error *ngIf="passwordChangeForm.get('password-repeat')?.invalid ||
          passwordChangeForm.get('password-repeat')?.value != passwordChangeForm.get('newPassword')?.value">{{getRepeatPasswordError()}}</mat-error>
      <div matSuffix style="display:flex">
        <button type="button" mat-icon-button (click)="hidePasswordRepeat = !hidePasswordRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <button disabled mat-icon-button>
          <mat-icon matSuffix class="{{passwordChangeForm.get('password-repeat')?.invalid ||
              passwordChangeForm.get('password-repeat')?.value != passwordChangeForm.get('newPassword')?.value ? 'text-danger': 'text-success'}}">
            {{passwordChangeForm.get('password-repeat')?.invalid ||
          passwordChangeForm.get('password-repeat')?.value != passwordChangeForm.get('newPassword')?.value ? 'cancel': 'check_circle'}}</mat-icon>
        </button>
      </div>
    </mat-form-field>

    <button type="submit" [disabled]="passwordChangeForm.invalid" class="btn btn-success mt-2 w-100">Change password!</button>
  </form>
  <button class="mt-2" mat-flat-button mat-dialog-close color="primary">Close</button>
  <button class="mt-2 ms-2" mat-flat-button mat-dialog-close (click)="openUserProfileInfo()" color="accent">Back</button>

</ng-container>
