/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}
