<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [ngClass]="getClass('')" [routerLink]="['']">App</a>
      <a mat-list-item [ngClass]="getClass('validate')" [routerLink]="['validate']">Validate</a>
      <a mat-list-item href="https://status.hrva.cc/status/url">Status</a>
      <a *ngIf="authenticated" mat-list-item [ngClass]="getClass('dashboard/urls')" [routerLink]="['dashboard/urls']">URLs</a>
      <a *ngIf="authenticated" mat-list-item [ngClass]="getClass('dashboard/apis')" [routerLink]="['dashboard/api-keys']">API Keys</a>
      <a *ngIf="authenticated" mat-list-item (click)="openUserProfileInfo()">Hello, {{user?.name}}!</a>
      <a *ngIf="authenticated" mat-list-item style="background-color: red" (click)="logout()" matTooltip="Logout">Logout</a>
      <a *ngIf="!authenticated" mat-list-item [ngClass]="getClass('register')" [routerLink]="['register']">Register</a>
      <a *ngIf="!authenticated" mat-list-item [ngClass]="getClass('login')" [routerLink]="['login']">Login</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="full-navbar-content">
        <a [ngClass]="getClass('')" [routerLink]="['']">App</a>
        <a [ngClass]="getClass('validate')" [routerLink]="['validate']">Validate</a>
        <a href="https://status.hrva.cc/status/url">Status</a>
        <a *ngIf="authenticated" [ngClass]="getClass('dashboard/urls')" [routerLink]="['dashboard/urls']">URLs</a>
        <a *ngIf="authenticated" [ngClass]="getClass('dashboard/apis')" [routerLink]="['dashboard/api-keys']">API Keys</a>
      </div>
      <div class="spacer"></div>
      <a [routerLink]="['']">URL Shortener</a>
      <div class="spacer"></div>
      <div class="full-navbar-content">
        <ng-container *ngIf="authenticated; else notUser">
          <a type="button" (click)="openUserProfileInfo()" matTooltip="User info"><h4 >Hello, {{user?.name}}!</h4></a>
          <a (click)="logout()"><button class="btn btn-danger">Logout</button></a>
        </ng-container>
        <ng-template #notUser>
          <a class="nav-item me-1" [routerLink]="['register']"><button  mat-button class="btn btn-light">Register</button></a>
          <a class="nav-item" [routerLink]="['login']"><button mat-button class="btn btn-info">Login</button></a>
        </ng-template>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <footer><a href="https://hrva.cc/swagger-ui/index.html" matTooltip="API Documentation"><mat-icon>code</mat-icon></a></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
