<div class="container-fluid main">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="row col-8 col-sm-8 col-lg-4 infobox p-2">
    <div class="container">
      <h2>Register</h2>

      <form class="register-form" [formGroup]="registerForm" (keyup.enter)="register()">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your name</mat-label>
          <input matInput formControlName="name" placeholder="Bobby" required>
          <mat-error *ngIf="registerForm.get('name')?.errors?.['required']">Name is required, but you can enter anything</mat-error>
          <mat-icon matSuffix class="{{registerForm.get('name')?.invalid ? 'text-danger': 'text-success'}}">
            {{registerForm.get('name')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="bobby@example.com" required>
          <mat-error *ngIf="registerForm.get('email')?.invalid">{{getEmailError()}}</mat-error>
          <mat-icon matSuffix class="{{registerForm.get('email')?.invalid ? 'text-danger': 'text-success'}}">
            {{registerForm.get('email')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="********" required>
          <mat-error *ngIf="registerForm.get('password')?.invalid">{{getPasswordError()}}</mat-error>
          <div matSuffix style="display:flex">
            <button type="button" mat-icon-button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <button disabled mat-icon-button>
              <mat-icon matSuffix class="{{registerForm.get('password')?.invalid ? 'text-danger': 'text-success'}}">
                {{registerForm.get('password')?.invalid ? 'cancel': 'check_circle'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Repeat your password</mat-label>
          <input [type]="hidePasswordRepeat ? 'password' : 'text'" matInput formControlName="password-repeat" placeholder="********" required>
          <mat-error *ngIf="registerForm.get('password-repeat')?.invalid ||
          registerForm.get('password-repeat')?.value != registerForm.get('password')?.value">{{getRepeatPasswordError()}}</mat-error>
          <div matSuffix style="display:flex">
          <button type="button" mat-icon-button (click)="hidePasswordRepeat = !hidePasswordRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <button disabled mat-icon-button>
              <mat-icon matSuffix class="{{registerForm.get('password-repeat')?.invalid ||
              registerForm.get('password-repeat')?.value != registerForm.get('password')?.value ? 'text-danger': 'text-success'}}">
              {{registerForm.get('password-repeat')?.invalid ||
              registerForm.get('password-repeat')?.value != registerForm.get('password')?.value ? 'cancel': 'check_circle'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary" (click)="register()" [disabled]="registerForm.invalid" class="mt-2 w-100">Register</button>
      </form>
    </div>
  </div>
</div>
